In [19]:
import pandas as pd

raw = pd.read_csv('../data/allCourseScoreData.csv')
raw

               KCH         semester   xkrs    jgl    pjf   yxl
0      1101980026R  2020-2021学年第二学期   21.0  100.0  83.00  4.76
1       0510220001  2020-2021学年第二学期   13.0  100.0  83.31  7.69
2       0510220001  2020-2021学年第一学期   15.0  100.0  79.00  0.00
3       0510220001  2019-2020学年第二学期   17.0  100.0  79.59  0.00
4       0411740001  2018-2019学年第二学期   19.0  100.0  85.84  5.26
...            ...              ...    ...    ...    ...   ...
49576   5300599003  2020-2021学年第一学期  161.0  100.0  87.98  9.94
49577   5300599003  2019-2020学年第二学期  123.0  100.0  87.80  8.94
49578   5300599003  2019-2020学年第一学期  171.0  100.0  87.58  7.60
49579   5300599003  2018-2019学年第二学期  170.0  100.0  86.99  8.82
49580   5300599003  2018-2019学年第一学期   70.0  100.0  86.37  8.57

[49581 rows x 6 columns]

In [39]:
valid_date = ['2018-2019学年第一学期', '2018-2019学年第二学期', '2019-2020学年第一学期','2020-2021学年第一学期', '2020-2021学年第二学期']

data = raw[raw['semester'].isin(valid_date)]
data.dropna(axis=0,how='any',inplace=True)
data

C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

               KCH         semester   xkrs    jgl    pjf   yxl
0      1101980026R  2020-2021学年第二学期   21.0  100.0  83.00  4.76
1       0510220001  2020-2021学年第二学期   13.0  100.0  83.31  7.69
2       0510220001  2020-2021学年第一学期   15.0  100.0  79.00  0.00
4       0411740001  2018-2019学年第二学期   19.0  100.0  85.84  5.26
6       2701000027  2020-2021学年第一学期   27.0  100.0  85.81  7.41
...            ...              ...    ...    ...    ...   ...
49575   5300599003  2020-2021学年第二学期  201.0  100.0  87.89  8.96
49576   5300599003  2020-2021学年第一学期  161.0  100.0  87.98  9.94
49578   5300599003  2019-2020学年第一学期  171.0  100.0  87.58  7.60
49579   5300599003  2018-2019学年第二学期  170.0  100.0  86.99  8.82
49580   5300599003  2018-2019学年第一学期   70.0  100.0  86.37  8.57

[10325 rows x 6 columns]

In [40]:
data['count_aplus'] = data.apply(lambda x:round(x['xkrs']*x['yxl']/100) , axis=1)
data

C:\Users\k\AppData\Local\Temp/ipykernel_30212/785843376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['count_aplus'] = data.apply(lambda x:round(x['xkrs']*x['yxl']/100) , axis=1)

               KCH         semester   xkrs    jgl    pjf   yxl  count_aplus
0      1101980026R  2020-2021学年第二学期   21.0  100.0  83.00  4.76            1
1       0510220001  2020-2021学年第二学期   13.0  100.0  83.31  7.69            1
2       0510220001  2020-2021学年第一学期   15.0  100.0  79.00  0.00            0
4       0411740001  2018-2019学年第二学期   19.0  100.0  85.84  5.26            1
6       2701000027  2020-2021学年第一学期   27.0  100.0  85.81  7.41            2
...            ...              ...    ...    ...    ...   ...          ...
49575   5300599003  2020-2021学年第二学期  201.0  100.0  87.89  8.96           18
49576   5300599003  2020-2021学年第一学期  161.0  100.0  87.98  9.94           16
49578   5300599003  2019-2020学年第一学期  171.0  100.0  87.58  7.60           13
49579   5300599003  2018-2019学年第二学期  170.0  100.0  86.99  8.82           15
49580   5300599003  2018-2019学年第一学期   70.0  100.0  86.37  8.57            6

[10325 rows x 7 columns]

In [41]:
data['avg_pjf'] = data.groupby(['KCH'])['pjf'].transform('mean')
data['avg_yxl'] = data.groupby(['KCH'])['yxl'].transform('mean')
data['avg_aplus'] = data.groupby(['KCH'])['count_aplus'].transform('mean')
data['max_aplus'] = data.groupby(['KCH'])['count_aplus'].transform('max')
data['max_yxl'] = data.groupby(['KCH'])['yxl'].transform('max')
data['min_yxl'] = data.groupby(['KCH'])['yxl'].transform('min')
data['avg_xkrs'] = data.groupby(['KCH'])['xkrs'].transform('mean')
data['avg_jgl'] = data.groupby(['KCH'])['jgl'].transform('mean')
data['min_jgl'] = data.groupby(['KCH'])['jgl'].transform('min')
data

C:\Users\k\AppData\Local\Temp/ipykernel_30212/3216905297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['avg_pjf'] = data.groupby(['KCH'])['pjf'].transform('mean')
C:\Users\k\AppData\Local\Temp/ipykernel_30212/3216905297.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['avg_yxl'] = data.groupby(['KCH'])['yxl'].transform('mean')
C:\Users\k\AppData\Local\Temp/ipykernel_30212/3216905297.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['avg_aplus'] = data.groupby(['KCH'])['count_aplus'].transform('mean')
C:\Users\k\AppData\Local\Temp/ipykernel_30212/3216905297.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['max_aplus'] = data.groupby(['KCH'])['count_aplus'].transform('max')
C:\Users\k\AppData\Local\Temp/ipykernel_30212/3216905297.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['max_yxl'] = data.groupby(['KCH'])['yxl'].transform('max')
C:\Users\k\AppData\Local\Temp/ipykernel_30212/3216905297.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['min_yxl'] = data.groupby(['KCH'])['yxl'].transform('min')
C:\Users\k\AppData\Local\Temp/ipykernel_30212/3216905297.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['avg_xkrs'] = data.groupby(['KCH'])['xkrs'].transform('mean')
C:\Users\k\AppData\Local\Temp/ipykernel_30212/3216905297.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['avg_jgl'] = data.groupby(['KCH'])['jgl'].transform('mean')
C:\Users\k\AppData\Local\Temp/ipykernel_30212/3216905297.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['min_jgl'] = data.groupby(['KCH'])['jgl'].transform('min')

,KCH,semester,xkrs,jgl,pjf,yxl,count_aplus,avg_pjf,avg_yxl,avg_aplus,max_aplus,max_yxl,min_yxl,avg_xkrs,avg_jgl,min_jgl
0,1101980026R,2020-2021学年第二学期,21.0,100.0,83.00,4.76,1,83.000,4.760,1.0,1,4.76,4.76,21.0,100.0,100.0
1,0510220001,2020-2021学年第二学期,13.0,100.0,83.31,7.69,1,81.155,3.845,0.5,1,7.69,0.00,14.0,100.0,100.0
2,0510220001,2020-2021学年第一学期,15.0,100.0,79.00,0.00,0,81.155,3.845,0.5,1,7.69,0.00,14.0,100.0,100.0
4,0411740001,2018-2019学年第二学期,19.0,100.0,85.84,5.26,1,85.840,5.260,1.0,1,5.26,5.26,19.0,100.0,100.0
6,2701000027,2020-2021学年第一学期,27.0,100.0,85.81,7.41,2,85.810,7.410,2.0,2,7.41,7.41,27.0,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49575,5300599003,2020-2021学年第二学期,201.0,100.0,87.89,8.96,18,87.362,8.778,13.6,18,9.94,7.60,154.6,100.0,100.0
49576,5300599003,2020-2021学年第一学期,161.0,100.0,87.98,9.94,16,87.362,8.778,13.6,18,9.94,7.60,154.6,100.0,100.0
49578,5300599003,2019-2020学年第一学期,171.0,100.0,87.58,7.60,13,87.362,8.778,13.6,18,9.94,7.60,154.6,100.0,100.0
49579,5300599003,2018-2019学年第二学期,170.0,100.0,86.99,8.82,15,87.362,8.778,13.6,18,9.94,7.60,154.6,100.0,100.0
49580,5300599003,2018-2019学年第一学期,70.0,100.0,86.37,8.57,6,87.362,8.778,13.6,18,9.94,7.60,154.6,100.0,100.0

In [42]:
result = data.drop_duplicates(['KCH']).drop(['semester','xkrs','jgl','pjf','yxl','count_aplus'],axis=1)
result

,KCH,avg_pjf,avg_yxl,avg_aplus,max_aplus,max_yxl,min_yxl,avg_xkrs,avg_jgl,min_jgl
0,1101980026R,83.000,4.760000,1.000000,1,4.76,4.76,21.000000,100.0,100.0
1,0510220001,81.155,3.845000,0.500000,1,7.69,0.00,14.000000,100.0,100.0
4,0411740001,85.840,5.260000,1.000000,1,5.26,5.26,19.000000,100.0,100.0
6,2701000027,85.810,7.410000,2.000000,2,7.41,7.41,27.000000,100.0,100.0
7,0904870001,74.240,0.000000,0.000000,0,0.00,0.00,154.000000,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...
49558,5300599014,85.146,9.150000,12.800000,18,10.07,8.16,137.600000,100.0,100.0
49564,5300599004,86.120,9.938000,9.400000,12,10.13,9.48,94.800000,100.0,100.0
49570,5300599005,82.540,1.470000,1.000000,1,1.47,1.47,68.000000,100.0,100.0
49571,5300599002,85.920,9.496667,4.333333,6,11.76,7.50,46.333333,100.0,100.0
49575,5300599003,87.362,8.778000,13.600000,18,9.94,7.60,154.600000,100.0,100.0

In [18]:
result.to_csv('../data/aggScoreData.csv',index=False,encoding='utf-8-sig')